body{
    background: rgb(255, 255, 255);
}
h1{
    font-size: 60px;
    color:rgb(0, 0, 0);
    font-family:'Lucida Sans','Lucida Sans Regular','Lucida Grande','Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center; 
}
p{
    font-size: 30px;
    color: rgb(2, 2, 2);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify; 
}
img{
    width: 400px;
    height: 400px;
    margin: 400px;

}
.cabecalho{
    background-color: rgb(179, 34, 34);
    display: flex;
}
.logocabecalho{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    margin-top: 100px;
    margin-bottom: 50px;
}
.lista_cabecalho{
    display: flex;
    margin-left: 150px;
}
.item_lista_cabecalho{
    font-size: 30px;
    list-style: none;
    padding-left: 70px;
}